body {
   background-color: bisque; 
}

a {
    text-decoration: none;
}

/* #mailink {
    color: crimson;
} */

.link {
    color: cornflowerblue;
    font-size: 18px;
    line-height: 24px;
}

#title {
    color: blueviolet;
}

.link {
    color: green;
}